body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.img {
  width: 75vw;
  height: 75vh;
  border: 1px solid black;
}

.loading {
  width: 75vw;
  height: 75vh;
  background: gray;
}


.lazy__img {
  display: none;
  width: 75vw;
  height: 75vh;
  object-fit: fill;
}

.lazy__img--loaded {
  display: block;
}
