.app__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.app__img {
  border: 1px solid black;
  width: 50vw;
  height: 50vh;
}
