body {
  margin: 0;
}

.title {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper-loading {
  position: relative;
  width: 75vw;
  height: 75vh;
  background: grey;
  animation: loading-data 1s infinite forwards;
}

@keyframes loading-data {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

.wrapper-loading--finished {
  animation: none;
}

.img {
  position: absolute;
  width: 75vw;
  height: 75vh;
  opacity: 0;
  /* transition: opacity 1s; */
}

.img--loaded {
  /* opacity: 1; */
  animation: loading-img 1s forwards; 
}

@keyframes loading-img {
  100% {
    opacity: 1;
  }
}